
a{
    color: white;
    text-decoration: none;
    
}
a:hover{
    color: white;
}

body{

    height: 100vh;
}

/* div central */
.title,.status-icon ,.cabecalho{
    justify-content: space-between;
}
.box-status{
    padding:  0px 10px 0px 0px;
}

.icon{
    padding:0px 20px 0px 0px;
}

.porcento{
    background-color: darkgoldenrod;
    width: 60%;
    height: 4px;
}
.porcento2{
    background-color: rgb(25, 25, 223);
    width: 50%;
    height: 4px;
}
.porcento3{
    background-color: darkgray;
    width: 80%;
    height: 4px
}
.porcento4{
    background-color:darkmagenta;
    width: 20%;
    height: 4px;
}
.porcento5{
    background-color:darkgreen;
    width: 60%;
    height: 4px;
}
.porcento6{
    background-color:darkslategray;
    width:40%;
    height: 4px;
}
.color1{
    background-color: #ff8c002e;
    border-radius: 24px;
}
.color2{
    background-color: #00008b33;
    border-radius: 24px;
}
.color3{
    border: solid 1px gray;
    border-radius: 24px;
}
.color4{
    background-color: #8b008b4d;
    border-radius: 24px;
}
.color5{
    background-color: #00640054;
    border-radius: 24px;
}
.color6{
    background-color: #008b8b7a;
    border-radius: 24px;
}
.color1,.color2,.color3,.color4,.color5,.color6{
    width: 277px;
}
.estatica{
    width: 30px;
}
.estatica2{
    width: 50px;
    height: 50px;
}
.esquerda{
    margin-left: -14px;
}
.diasP{
    width: 85px;
    border-radius: 20px;
    height: 24px;

}
.mais{
    border-radius: 20px;
    width: 22px;
    height: 26px;
}
.cliente{
    padding: 15px;
}
.normal{
    margin-bottom: auto;
}
.spacing{
    padding: 10px;
}
.distanciamento{
    margin-left: 21px;
}
.borda-redonda{
    border-radius: 20px;
}
.pesquisa{
    width: 200px;
}
